:root {
    --russian-violet: #10002bff;
    --russian-violet-2: #240046ff;
    --persian-indigo: #3c096cff;
    --tekhelet: #5a189aff;
    --french-violet: #7b2cbfff;
    --amethyst: #9d4eddff;
    --heliotrope: #c77dffff;
    --mauve: #C698FF;
    }  


* {
    margin: 0;
}

header {
    display: flex; 
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: center;
    align-items: center;    
    margin-top: 2dvh;
}

nav {
    margin-right: 2vw;
    margin-top: -1vw;
    position: absolute;
    right: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

nav > a { 
    text-decoration: none; 
    color: rgb(8, 8, 8); 
    padding: 0.25em;  
    border-radius: 0.25em; 
} 

nav > a:hover {
    background-color: var(--russian-violet-2);
    color: white;
}



/* Dropdown menu button, code from w3schools.com*/
.dropbtn {
    background-color: var(--mauve);
    color: black;
    padding: 10px;
    padding-bottom: 0;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position:relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    justify-content: left;
    text-align: left;
  }

  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
   
  }

  /* Color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--tekhelet);
    color: white;
    border-radius: 1em;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 1em;
    justify-content:end;
    width:fit-content;
}

/* Background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    border-radius: 1em;
    color: white;
}



body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    background-color: var(--mauve);
}

main {
    min-height: 85dvh; 
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > * {
    margin: 0.5em;
}


main > a {
    margin: 0;
    color: var(--tekhelet);
    font-size: large;
    justify-content: center;
    align-items: center;
}


main > a:hover {
    color: white;
    background-color: var(--russian-violet-2);
    border-radius: 0.5em;
    padding: 0.25em;
    padding-bottom: 0.25em;
}


main > img {
    height: 30dvh;
    width: auto;
    border-radius: 50%;
    margin: 2em; 
    object-fit: cover;
}


main > p {
    font-size: medium;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 1em;
}


main > h1 {
    text-align: center;
}


  footer {
    background-color:var(--mauve);
    height: 5dvh;
    width: 100dvw; 
    text-align: center;
    display: flex;
    justify-content:  center;
    align-items: center;
} 


.button {
    background-color: var(--amethyst); 
    border: white;
    border-style:ridge;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.5em;

    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

    /* width: 10%; */
    /* table-layout: fixed; */
  }

  .button:hover {
    background-color: var(--persian-indigo);
    border: white;
    border-style:ridge;
    color: white;
  }