
/* About Page Stylesheet overrides */

/* Colour palette */
:root {
    --russian-violet: #10002bff;
    --russian-violet-2: #240046ff;
    --persian-indigo: #3c096cff;
    --tekhelet: #5a189aff;
    --french-violet: #7b2cbfff;
    --amethyst: #9d4eddff;
    --heliotrope: #c77dffff;
    --mauve: #C698FF;
    --thistle: #E1C8F8;
    }  

/* Styles image in main*/
main > img {
    box-shadow: 20px 20px 10px var(--mauve);
}

/* Text container */
main > .intro {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3em;
}

/* Mobile view */
@media only screen and (max-width: 768px) {

    /* Styles text box in main section in mobile view */
    main > .mobile-textbox {
        background-color: var(--mauve);
        font-family: Arial, Helvetica, sans-serif;
        justify-content:center;
        align-items: center;
        text-align: center;
        border-radius: 1.5em;
        padding: 1em;
        box-shadow: 20px 20px 10px var(--russian-violet-2);
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 3em;
    }

    /* Styles image in textbox in mobile view */
    main > .mobile-textbox > img {
        width:90%;
        border-radius: 10em;
    }

    /* Styles h2 text in textbox in mobile view*/
    main > .mobile-textbox > h2 {
        font-family: 'Courier New', Courier, monospace;
    }

    /* Styles link text in textbox in mobie view */
    main > .mobile-textbox > p > a {
        font-family: 'Courier New', Courier, monospace;
        font-weight:bold;
        text-decoration: none;
        color: var(--russian-violet-2)
    }
    
    /* Hides desktop view text box so it's not visible in mobile view*/
    .columns {
        display: none;
    }
}


/* Desktop view styling*/
@media only screen and (min-width: 768px) {


    /* Hides mobile view section text*/
    main .mobile-textbox {
        display:none;
    }

    /* Styles text box in desktop view to show two coloumns instead of one */
    main > .columns {
       
        display: flex;
        display: row;
    }

    /* Styles first column on left side in desktop view  */
    main > .columns .column1 {
        background-color: var(--mauve);
        justify-content:center;
        align-items: center;
        text-align: center;
        border-radius: 1.5em;
        padding: 1em;
        box-shadow: 20px 20px 10px var(--russian-violet-2);
        margin-left: 5%;
        margin-right: 2em;
        margin-bottom: 3em;
    }

    /* Styles images in column 1 */
    main > .columns .column1 > img {
        max-width: 90%;
        border-radius: 10em;
    }

    /* Styles h2 text in column 1 */
    main > .columns .column1 h2 {
        font-family: 'Courier New', Courier, monospace;
    }

    /* Styles column 2 on right side in desktop view */
    main > .columns .column2{
        background-color: var(--mauve);
        font-family: Arial, Helvetica, sans-serif;
        justify-content:center;
        align-items: center;
        text-align: center;
        border-radius: 1.5em;
        padding: 1em;
        box-shadow: 20px 20px 10px var(--russian-violet-2);
        margin-left: 1em;
        margin-right: 5%;
        margin-bottom: 3em;
        width: 60%;
    }

/* Styles h2 text in coloumn 2 */
    main > .columns .column2 > h2 {
        font-family: 'Courier New', Courier, monospace;
    }

    /* Styles links in coloumn 2 */
    main > .columns .column2 a{
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    text-decoration: none;
    color: var(--russian-violet-2)
    }
}