/* Colour palette */
:root {
    --russian-violet: #10002bff;
    --russian-violet-2: #240046ff;
    --persian-indigo: #3c096cff;
    --tekhelet: #5a189aff;
    --french-violet: #7b2cbfff;
    --amethyst: #9d4eddff;
    --heliotrope: #c77dffff;
    --mauve: #C698FF;
    --thistle: #E1C8F8;
    }  

/* Image in main*/
main > img {
    box-shadow: 20px 20px 10px var(--mauve);
}

/* Text container */
main > .intro {
    margin-left: 15em;
    margin-right: 15em;
    margin-bottom: 3em;
   
}






/* Nav bar stylesheet overrides for desktop/mobile*/


.nav-links {
    position: absolute;
    right: 0;
    padding-right: 1em;
    background-color: var(--heliotrope);
  }
  
  .nav-links ul li ul li {
    width:100%;
  }
  
  .nav-links ul li ul li a {
    background-color: var(--amethyst) ;
  }
  
  
  
    /* Desktop view */
  @media only screen and (min-width: 768px) {
    
    nav {
      display:none;
     }  
  
     .nav-links a {
      padding-left: 1em;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      color: var(--persian-indigo);
      background-color: var(--heliotrope);
      text-decoration: none;
      width: 100%;
    }
  
    .nav-links li {
      padding-bottom: 0.5em;
      padding-top: 0.5em;
  
    }
  
   .nav-links ul li ul li a {
      background-color: transparent;
      list-style: none;
      overflow: hidden;
      padding: 0.5em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: normal;
      width: 100%;
    }
  
    .nav-links ul li ul li a:hover {
      color: white;
    }
  
    .nav-links ul li ul {
      right: 0;
      margin-top: 4dvh;
      transform: translateX(10px) translateY(5px);
      background-color: var(--heliotrope);
      transition: 0.3s ease-in-out;
    }
  
  }
  
  
  /* Mobile view */
  @media only screen and (max-width: 768px) {
   
    .nav-links {
      margin-left: 2em;
    }
    .nav-links {
      display:none;
    }
   
  }