/* Colour palette */
:root {
    --russian-violet: #10002bff;
    --russian-violet-2: #240046ff;
    --persian-indigo: #3c096cff;
    --tekhelet: #5a189aff;
    --french-violet: #7b2cbfff;
    --amethyst: #9d4eddff;
    --heliotrope: #c77dffff;
    --mauve: #C698FF;
    --thistle: #E1C8F8;
    }  

/* Image in main*/
main > img {
    box-shadow: 20px 20px 10px var(--mauve);
}

/* Text container */
main > .intro {
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 3em;
}

