/* Contact page stylesheet overrides*/

/* Colour palette */
:root {
    --russian-violet: #10002bff;
    --russian-violet-2: #240046ff;
    --persian-indigo: #3c096cff;
    --tekhelet: #5a189aff;
    --french-violet: #7b2cbfff;
    --amethyst: #9d4eddff;
    --heliotrope: #c77dffff;
    --mauve: #C698FF;
    --thistle: #E1C8F8;
    }  


/* Image in main*/
main > img {
    height: 30dvh;
    border-radius: 7.5em;
    box-shadow: 20px 20px 10px var(--mauve)
}


main > h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

 
/* Determines how the buttons look */
.button {
    background-color: var(--amethyst); 
    border: white;
    border-style:groove;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.5em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 15%;
    table-layout: fixed;
    justify-content: center;
    align-items: center;
  }

   
/* Determines how the buttons look when hovered over*/
  .button:hover {
    background-color: var(--persian-indigo);
    border: white;
    border-style:outset;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.5em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 15%;
    table-layout: fixed;
    justify-content: center;
  }

  /* Determines how buttons looks while being clicked */
  .button:active {
    background-color: var(--persian-indigo);
    border: white;
    border-style:inset;
    color: white;
  }
