/* Nav bar stylesheet overrides for desktop/mobile*/


.nav-links {
  position: absolute;
  right: 0;
  padding-right: 1em;
  background-color: var(--heliotrope);
  
}

/* .nav-links ul li ul li {
  width:100%;
} */

/* .nav-links ul li ul li a {
  background-color: var(--amethyst) ;
}
 */






  /* Desktop view */
@media only screen and (min-width: 768px) {
  
  nav {
    display:none;
   }  

   .nav-links a {
    padding-left: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--persian-indigo);
    background-color: var(--heliotrope);
    text-decoration: none;
    width: 100%;
  }


  .nav-links ul li ul {
    right: 0;
    margin-top: 4dvh;
    transform: translateX(10px) translateY(5px);
    background-color: var(--heliotrope);
    transition: 0.3s ease-in-out;
    display: block;
  }

  .nav-links ul li ul li {
    background-color: transparent;
    width: 100%;
  }

 .nav-links ul li ul li a {
    background-color: transparent;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    display: block;
    padding: 0.25em;
  }


  .nav-links ul li ul li a:hover {
    color: white;
  }



}


/* Mobile view */
@media only screen and (max-width: 768px) {
 
  .nav-links {
    margin-left: 2em;
  }
  .nav-links {
    display:none;
  }
 
}