/* Nav bar CSS Stylesheet */

/* First layer */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--mauve);
    border-radius: 1em;
     
  }


  ul:hover {
    overflow: visible;
    width: auto;
  }

  li {
    position: relative;
    float: left;
    /* background-color: var(--mauve); */
    border-radius: 1em;
    /* width:max-content; */
    width: auto;
  }

  li:hover {
    /* background-color: var(--mauve); */
    border-top-right-radius: 1em;
    width: auto;
  }

  a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    
    text-decoration: none;
    width: auto;
    
  }
  
  /* second level */
  ul ul {
    /* max-height: 0;
    transition: max-height 1s;
    border-radius: 1em;
    background-color: #ee54e4; */

    position: absolute;
    width: 0;
    top: 0;
    right: 100%;
    transition: width 0.5s;
    border-radius: 1em;
    background-color: var(--amethyst);
    
  }

  ul li:hover ul {
    /* max-height: 999px; */
    
    width: 108%;
    

  }
  
  ul ul li {
    /* float: none;
    background-color: #ee54e4; */

    background-color: var(--amethyst);
    
  }

  ul ul li:hover {
    background-color: var(--russian-violet-2);

  }
  



