/* Projects & Blogs stylesheet overrides */

/* Colour palette */
:root {
    --russian-violet: #10002bff;
    --russian-violet-2: #240046ff;
    --persian-indigo: #3c096cff;
    --tekhelet: #5a189aff;
    --french-violet: #7b2cbfff;
    --amethyst: #9d4eddff;
    --heliotrope: #c77dffff;
    --mauve: #C698FF;
    --thistle: #E1C8F8;
    }  

main > img {
    height: 40dvh;
    width: auto;
    border-radius: 50%;
    margin: 2em; 
    object-fit: cover;
}

.projectPreview > img {
	border-radius: 1em;
	max-height: auto;
	max-width: 60dvw;
	
}

.projectPreview {
	max-width: 65dvw;
	transition: 1s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1em;
	margin: 2em;
	padding: 1em;
	background-color: var(--heliotrope);
	border-radius: 2em;
	box-shadow: 0.5em 0.5em var(--french-violet);
}

.projectPreview > h3{
    font-family: 'Courier New', Courier, monospace;
}

.projectPreview:hover {
	/* border-radius: 0.5em; */
    box-shadow: 0.5em 0.5em var(--russian-violet);
    /* transform: scale(1.075); */
}


.projectPreview > a {
	
	padding: 0.5em;
	border-radius: 0.5em;
    text-decoration: none; 
    color: var(--russian-violet-2);
}


.projectPreview > a:hover{
    color: white;
    background-color: var(--french-violet);
}



.projectPreview > section {
	display: flex;
	column-gap: 2em;
}

.projectPreview > section > a {
	background-color: var(--mauve);
	padding: 1em;
	border-radius: 1em;
	border: 2px solid white;
}

.contentRow {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	margin: 0;
}


main {
	margin: 0;
}

/* Desktop view */
@media screen and (min-width: 600px) {
	.contentRow {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	main {
		margin: 0;
		padding: 0;

	}

	.projectPreview {
		/* width: 30dvw; */
		margin: 1em;
		
	}

	.projectPreview > img {
		/* height: auto; */
		max-height: auto;
		max-width: 60dvw;
		border-radius: 1em;
	}
}


